--index-url https://download.pytorch.org/whl/cpu
python-dotenv==1.0.0
Flask==2.3.3
gunicorn==21.2.0
Pillow==10.1.0
torch==2.3.0
torchvision==0.18.0
tensorflow-cpu==2.16.1
h5py==3.11.0
ultralytics==8.2.2
numpy==1.26.4
requests==2.31.0
webcolors==1.13

